#dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 300px;
  width: 600px;
}

#dashboard>h1 {
  text-align: center;
  font-size: 2rem;
  margin: 10px;
}

.dashboard__actions {
  display: flex;
  justify-content: left;
  width: 100%;
  margin: 10px 0 20px 0;
}

.dashboard__actions button {
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
  background: white;
}

.dashboard__actions button:hover,
.dashboard__actions button:focus {
  background: rgb(245, 245, 245);
}

.storycard {
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 10px 20px;
  margin-bottom: 15px;
  background: white;
}

.storycard--header {
  display: flex;
  justify-content: space-between;
}

.storycard h1 {
  font-size: 1.5rem;
}

.storycard--actions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.storycard a {
  margin-right: 40px;
}

.storycard a,
.storycard button {
  color: grey;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.storycard a:hover,
.storycard a:focus,
.storycard button:hover,
.storycard button:focus {
  text-decoration: underline;
}

.storycard button {
  border: none;
}

#deleteStory__form {
  width: 400px;
  height: fit-content;
  background: white;
  font-size: 1rem;
  padding: 20px;
  border: 1px solid lightgrey;
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, .1);
  text-align: center;
}

#deleteStory__form h1 {
  margin-bottom: 5px;
}

#deleteStory__form p {
  margin-bottom: 10px;
}

#deleteStory__form form {
  display: inline;
  margin-right: 2%;
}

#deleteStory__form button {
  width: 49%;
  border-radius: 5px;
  padding: 8px 10px;
  font-size: 1rem;
}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 900px) {}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 320px) {}