nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    background: white;
    border-right: 1px solid rgb(228, 228, 228);
    z-index: 10;
}

.openMap {
    width: 200px;
}

@media only screen and (max-width: 1200px) {}
@media only screen and (max-width: 900px) {}
@media only screen and (max-width: 600px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 320px) {}