.indexNav {
  width: 100vw;
  height: 45px;
  border-bottom: 1px solid lightgrey;
}

#toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background: white;
  z-index: 10;
  border-bottom: 1px solid lightgrey;
}

#toolbar > h1 {
  font-size: 2rem;
  color: var(--color-accent);
}

.primaryNav {
  position: fixed;
  left: 0;
  width: 80px;
  height: 100vh;
  background: white;
  border-right: 1px solid rgb(228, 228, 228);
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.primaryNav ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.primaryNav a {
  text-decoration: none;
}

.primaryNav li:hover img {
  color: var(--color-accent);
  font-weight: 400;
  cursor: pointer;
}

.primaryNav img {
  width: 30px;
  margin-bottom: 10px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 15;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15vh auto;
  border-radius: 5px;
}

.close {
  color: #aaa;
  position: absolute;
  right: 12px;
  top: 5px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-left: 300px;
  padding: 20px 0;
}

.container>h1 {
  text-align: center;
  font-size: 2rem;
  margin: 10px;
}

.storycard {
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 10px 20px;
  margin-bottom: 15px;
  background: white;
}

.storycard--header {
  display: flex;
  justify-content: space-between;
}

.storycard h1 {
  font-size: 1.5rem;
}

.storycard--actions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.storycard a {
  margin-right: 40px;
}

.storycard a,
.storycard button {
  color: grey;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.storycard a:hover,
.storycard a:focus,
.storycard button:hover,
.storycard button:focus {
  text-decoration: underline;
}

.storycard button {
  border: none;
}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 900px) {}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 320px) {}