nav {
    position: fixed;
    width: 5rem; height: 100vh;
    background: white;
    border-right: 1px solid rgb(228, 228, 228);
    z-index: 10;
}



@media only screen and (max-width: 1200px) {}
@media only screen and (max-width: 900px) {}
@media only screen and (max-width: 600px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 320px) {}