@import url('https://fonts.googleapis.com/css?family=Merienda:700&display=swap');

#dashboard {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 10rem;
  width: 100vw; height: 100vh;
}

#dashboard__map {
  width: 800px; height: 280px;
  overflow: hidden;
  position: relative;
  background: black;
  text-decoration: none;
}

#dashboard__map::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0;
  width: 100%; height: 100%;
  background-image: url('./img/map.png');
  background-size: cover;
  background-position: 50% 30%;
  filter: grayscale(100%);
  opacity: .4;
}

#dashboard__map div {
  position: relative;
  color: white;
}

#dashboard__map--header {
  font-size: 2.5rem;
  font-family: 'merienda';
  margin-left: 80px; margin-top: 80px;

}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 320px) {}