#signup {
    border-radius: 5px;
    margin: 20vh auto;
    width: 800px;
    height: 600px;
    display: flex;
    overflow: hidden;
    box-shadow: 12px 12px 10px 2px rgba(0, 0, 0, .1);
}

#signup div {
    width: 50%;
    height: 100%;
    position: relative
}

#splash {
    background-image: url('.//landing.jpg');
    background-size: cover;
    background-position: center;
}

#splash h1 {
    color: white;
    font-size: 10rem;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    bottom: -10px;
    right: -45px;
}

#form__holder {
    background: white;
}

#form__holder h2 {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 2rem;
}

#form__holder form {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 340px;
}

.signup__form--input {
    border: none;
    border-bottom: 1px solid grey;
    font-size: 1.5rem;
    /* font-weight: 300; */
    margin-top: 20px;
    /* height: 35px; */
    padding: 5px 10px;
    outline: 0;
}

.signup__form--input:focus {
    border-bottom: 2px solid rgb(255, 85, 85);
    padding-top: 2px;
    padding-bottom: 8px;
}

#form__holder input[type='submit'] {
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background: rgb(255, 85, 85);
    font-size: 1.5rem;
    margin-top: 20px;
    padding: 10px;
    outline: 0;
}
