@import url('https://fonts.googleapis.com/css?family=Heebo:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

:root {
  --content-width: 600px;
}

#landing {
  overflow: auto;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px;
}

.video-bg {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.landing__contact {
  width: 80vw;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.landing__contact h1 {
  font-size: 1.4rem;
  font-weight: bold;
  text-shadow: 1px 1px grey;
  font-family: 'Oswald', sans-serif;
}

.landing__contact span {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.landing__body {
  height: 80vh;
  width: var(--content-width);
  position: absolute;
  top: 60px; right: 10vw;
  border-radius: 5px;
  border: 5px solid rgba(255,255,255, .7);
  color: rgba(255,255,255, .7);
}

.landing__body:hover {
  border: 5px solid white;
  color: white;
}

.landing__nav {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 5;
}

.landing__nav--title {
  color: white;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  cursor: default;
}

.landing__nav--nav {
  border: none;
  color: white;
}

.landing__nav--nav ul {
  list-style: none;
  width: var(--content-width);
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.landing__nav--nav li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.landing__nav--nav li:hover,
.landing__nav--nav li:focus {
  text-decoration: underline;
}


@media only screen and (max-width: 1200px) {}
@media only screen and (max-width: 900px) {}
@media only screen and (max-width: 600px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 320px) {}