.container {
  position: absolute;
  left: 85px;
  top: 65px;
  bottom: 5px;
  display: flex;
  flex-direction: column;
  width: 500px;
  z-index: 3;
  background: white;
  overflow-y: scroll;
  border-radius: 5px;
}

.storycard {
  border-radius: 5px;
  border-bottom: 1px solid lightgrey;
  padding: 15px 20px 10px 20px;
  background: white;
}

.storycard--header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.storycard h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.storycard__description {
  max-lines: 2;
  overflow: hidden;
  line-height: 22px;
  text-indent: 20px;
}

.storycard--actions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.storycard a {
  margin-right: 40px;
}

.storycard a,
.storycard button {
  color: grey;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.storycard a:hover,
.storycard a:focus,
.storycard button:hover,
.storycard button:focus {
  text-decoration: underline;
}

.storycard button {
  border: none;
}

#loading {
  margin: 0 auto;
  width: 100px;
  padding-top: 50vh;
}

#loading>p {
  background-color: var(--color-accent-dark);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: relative;
}

#loading>p::before,
#loading>p::after {
  animation-duration: .6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-name: loading;
  animation-direction: alternate;
  animation-play-state: running;
  position: absolute;
  content: "";
  background-color: var(--color-accent);
  border-radius: 50%;
  top: 0px;
  width: 15px;
  height: 15px;
}

#loading>p::before {
  left: -25px;
  transform-origin: 32.5px center;
}

#loading>p::after {
  left: 25px;
  transform-origin: -17.5px center;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}