#storyPitch {
  width: calc(100% - 20px);
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

#storyPitch:focus::before,
#storyPitch:hover::after {
  content: 'Edit Pitch';
  background: rgba(0,0,0,.1);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  color: white;
  text-align: center;
  font-weight: bold;
}

.map__icon {
  width: 50px; height: 50px;
  cursor: pointer;
}

.map__icon--turn {
  width: 13px;
  cursor: pointer;
}

#storyNode__form {
  width: 600px; height: fit-content;
  background: white;
  font-size: 1rem;
  padding: 20px;
}

#storyNode__form h1 {
  text-align: center;
  margin: 10px 0 20px 0;
}

#storyNode__form form {
  display: flex;
  flex-direction: column;
}

#storyNode__form a {
  color: grey;
  text-decoration: none;
}

#storyNode__form textarea {
  min-width: 100%;
  max-width: 100%;
  height: 200px;
}

.storyNode__input {
  height: 45px; width: 100%;
  font-size: 1rem;
  padding: 2px 8px;
  margin-bottom: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  outline: 0;
}

.storyNode__input:focus {
  border: 1px solid black;
}

.storyNode__horizontal {
  display: flex;
  justify-content: space-between;
}

.storyNode__horizontal > * {
  width: 48%;
}

.plotNode,
.cancelNode {
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 0;
  text-transform: uppercase;
}

.plotNode {
  background-color: rgb(255, 50, 50);
  color: white;
  border: none;
}

.plotNode:hover,
.plotNode:focus {
  background-color: rgb(255, 85, 85);
}

.cancelNode:hover,
.cancelNode:focus {
  background-color: rgb(240, 240, 240);
}