#create__newstory {
    background: white;
    position: absolute;
    left: 200px; 
    top: 0;
    bottom: 0;
    width: 300px;
    border-right: 1px solid rgb(230, 230, 230);
}

.layer {
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

#create__newLayer {
    height: 200px;
    width: 200px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    background: white;
    position: absolute;
    left: 100px;
    bottom: 100px;
}